body {
    background-color: cornsilk;
}

#burgerLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 17%;
    opacity: 75%;
}

#title {
    text-align: center;
    font-size: 70px;
}
#burgerDiv{
    margin-top:40px;
    margin-bottom:40px;
    display:flex;
}

#burgersDivEat{
   flex:0 0 60%;
}

#burgerListEat, #burgerListDevo{
    font-size: 28px;
}

#burgersDivDevo{
    flex: 1;
}

#addBurger {
    text-align: center;
}